__pycache__
build/
*.egg-info
.vscode/
data/
output
*.zip
TIGRE*
volume_processed/
volume_raw
FIPS_raw
FIPS_processed
other_scripts
Backups/
Checkpoint renders/
Final_outputs/
Generated pointclouds/
tiny-cuda-nn/
volume_gt/
